@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script type="text/javascript">
        window.killOrHeal = window.killOrHeal || {};
        window.killOrHeal.mapSize = @((int) ViewData["mapSize"]);
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
